/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
	--ion-color-strategy: #ff9214;
	--ion-color-strategy-rgb: 255, 146, 20;
	--ion-color-strategy-contrast: #000000;
	--ion-color-strategy-contrast-rgb: 0, 0, 0;
	--ion-color-strategy-shade: #e08012;
	--ion-color-strategy-tint: #ff9d2c;
}

.ion-color-strategy {
	--ion-color-base: var(--ion-color-strategy);
	--ion-color-base-rgb: var(--ion-color-strategy-rgb);
	--ion-color-contrast: var(--ion-color-strategy-contrast);
	--ion-color-contrast-rgb: var(--ion-color-strategy-contrast-rgb);
	--ion-color-shade: var(--ion-color-strategy-shade);
	--ion-color-tint: var(--ion-color-strategy-tint);
}