/* Stili predefiniti per il tema chiaro */
.newsletter-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.newsletter-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: #f7f8fa;
    /* Colore di sfondo per il tema chiaro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter-input {
    margin-bottom: 25px;
    border-radius: 5px;
}

.newsletter-button {
    --background: #3880ff;
    --color: white;
    --background-activated: #3dc2ff;
    --background-focused: #3dc2ff;
    --background-hover: #4c8dff;
    --border-color: #3880ff;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 4px;
    --box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

/* Stili per il tema scuro */
@media (prefers-color-scheme: dark) {
    .newsletter-container {
        background: #333;
        /* Colore di sfondo più scuro per il tema scuro */
        color: #fff;
        /* Testo bianco per il tema scuro */
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
        /* Ombra chiara per il tema scuro */
    }

    .newsletter-button {
        --background: #4c8dff;
        --background-activated: #3dc2ff;
        --background-focused: #3dc2ff;
        --background-hover: #3880ff;
        --border-color: #4c8dff;
    }

    /* Qui puoi aggiungere altri stili specifici per il tema scuro se necessario */
}