/* UnsubscribeComponent.css */

.unsubscribe-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.unsubscribe-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: #f7f8fa;
    /* Colore di sfondo per il tema chiaro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unsubscribe-input {
    margin-bottom: 15px;
}

.unsubscribe-button {
    --background: #ff3838;
    --background-activated: #ff3d3d;
    --background-focused: #ff3d3d;
    --background-hover: #ff4c4c;
    --border-color: #ff3838;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 4px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --color: white;
}

/* Stili per il tema scuro */
@media (prefers-color-scheme: dark) {
    .unsubscribe-container {
        background: #333;
        /* Colore di sfondo più scuro per il tema scuro */
        color: #fff;
        /* Testo bianco per il tema scuro */
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
        /* Ombra chiara per il tema scuro */
    }

    /* Qui puoi aggiungere altri stili specifici per il tema scuro se necessario */
}